.idea/
.idea/discord.xml
.idea/php.xml
.idea/modules.xml
.idea/jsLibraryMappings.xml
.idea/Etud'Logement2.iml
.idea/discord.xml
/src/backup 21-12-2022/
/src/index.php
/src/id.php
/src/styleInfo.css
/src/script.php
/src/info.php
/src/Register.php
/src/JavaScriptInfo.js
/src/testinscription.php
/src/Login.php
/src/styleAccueil.css
/src/stylebibi.css
/src/connexion.php
/src/gtag.js
/src/ttt/
