* {
    font-family: Verdana, sans-serif;
}

body {
    background-color: #E2E8FF;
    text-align: center;
}

nav {
    text-align: center;
    display: flex;
    background-color: #04DC00;
    position: relative;
    top: 0;
    justify-content: space-around;
    height: 40px;
    vertical-align: bottom;
}

img.nava {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

img.selected {
    border-radius: 50%;
    border: 2px solid #F0AC2D;
    height: 32px;
    width: 32px;
    background: #F0AC2D;
    display: inline-block;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    display: flex;
    background-color: #E2E8FF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

#listing {
    width: 60%;
    margin: auto;
}

#listing>* {
    text-align: center;
}

.list2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 60px 40px;
    border: 1.5px solid rgba(79, 71, 71, 0.404);
    background-color: #f0ac2d72;
    border-radius: 50px;
    max-width: 400px;
    margin: auto;
}

.list2 img {
    grid-column: 1;
    grid-row: 1;

}

.list2 h3 {
    grid-column: 1;
    grid-row: 2;
    margin-left: 10px;
}

.list2 ul {
    grid-column: 1;
    grid-row: 3;
    margin-top: -10px;
    list-style-type: none;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: auto;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: none;
    border: none;
}

.card1 {
    width: 50%;
}

.entete {
    border: 1px solid rgba(204, 204, 204, 0.459);
    background-color: #ceab69a4;
    border-radius: 15px;
}

.formulaire {
    border: 2px solid rgba(204, 204, 204, 0.459);
    font-size: 35px;
    border-radius: 15px;
}

.nomprenom {
    display: flex;
    align-items: center;
}