*{
    font-family: Verdana, sans-serif;
}

body{
    background-color: #E2E8FF;
    text-align: center;
}

nav{
    text-align: center;
    display: flex;
    background-color: #04DC00;
    position: relative;
    top: 0;
    justify-content: space-around;
    height: 40px;
    vertical-align: bottom;
}

img.nava{
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

img.selected{
    border-radius: 50%;
    border: 2px solid #F0AC2D;
    height: 32px;
    width: 32px;
    background: #F0AC2D;
    display: inline-block;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #E2E8FF;
    width: 1%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#listing > *{
    background-color: #F0AC2D;
    text-align: left;
}

.test{
    margin-left: 10px;
}

ul,li{
    margin-left: 50px;
}
