body{
    background-color: #E2E8FF;
}

nav{
    text-align: center;
    display: flex;
    background-color: #04DC00;
    position: relative;
    top: 0;
    justify-content: space-around;
    height: 40px;
    vertical-align: bottom;
}

img.nava{
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

img.selected{
    border-radius: 50%;
    border: 2px solid #F0AC2D;
    height: 32px;
    width: 32px;
    background: #F0AC2D;
    display: inline-block;
}